In [2]:
print("Soi master chief")

Soi master chief

In [3]:
import pandas as pd 
import numpy as np  
import matplotlib.pyplot as plt
import sklearn as sk

print("Soi master chief, packs instalados, todo listo pa chambear cortana")

Soi master chief, packs instalados, todo listo pa chambear cortana

In [5]:
print("Main DataTypes")

series = pd.Series(["BMW", "Toyota", "Honda"])
print(series)
# Series = 1-dimensional

Main DataTypes
0       BMW
1    Toyota
2     Honda
dtype: object

In [6]:
colours = pd.Series(["rojo", "azul", "verde"])
colours

0     rojo
1     azul
2    verde
dtype: object

In [7]:
# DataFrame = 2-dimensional
car_data = pd.DataFrame({"Car make": series, "Colour": colours}) # diccionario de series
car_data

  Car make Colour
0      BMW   rojo
1   Toyota   azul
2    Honda  verde